#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
inculde <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp 7    &kp 8    &kp 9
                &kp 4    &kp 5    &kp 6
                &kp 1    &kp 2    &kp 3
            >;
        };

    bt_layer{
        bindigs = <
            &none           &none           &bootloader
            &none           &none           &bt BT_CLR
            &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
            >;
        };
    };
};